<h4>{{ note.title }} <button (click)="onEdit()" class="btn btn-outline-warning mx-1">edit</button></h4>
<ng-container *ngIf="hasTags()">
    <hr>
    <button *ngFor="let tag of note.tags" class="btn btn-outline-primary mx-1 my-1" type="button">{{ tag }}</button>
    <hr>
</ng-container>
<ng-container *ngIf="hasBook()">
    <div>
        <i>book:</i> &NonBreakingSpace; <strong>{{ note.book }}</strong><br>
    </div>
    <hr>
</ng-container>
<div style="white-space: pre-wrap">
    {{note.body}}
</div>