<div class="container-">
    <div class="row">
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input readonly formControlName="_id" type="text" class="form-control" id="id">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input formControlName="title" type="text" class="form-control" id="title">
            </div>
            <div class="mb-3" formArrayName="tags">
                <label for="tags" class="form-label">Tags</label>
                <div class="row" *ngFor="let tagControl of tagControls; let i = index">
                    <div class="col-10">
                        <input
                            [formControlName]="i" 
                            class="form-control"
                            type="text">
                    </div>
                    <div class="col">
                        <button (click)="onDeleteTagControl(i)" type="button" class="btn btn-outline-danger">X</button>
                    </div>
                </div>
                <button (click)="onAddTagControl()" type="button" class="btn btn-outline-success mx-1 mt-2">Add Tag</button>
            </div>
            <div class="mb-3">
                <label for="book" class="form-label">Book</label>
                <input formControlName="book" type="text" class="form-control" id="book">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea formControlName="body" id="body" cols="30" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>